@model IList<Fortnox.SDK.Entities.InvoiceSubset>
@{
    Layout = null;
}
@if (@Model != null)
{
    <table id="invoiceTable" cellpadding="0" cellspacing="0">
    <tr>
        <th>Balance</th>
        <th>Invoice Date</th>
    </tr>
    @foreach (var inv in @Model)
        {
            <tr>
                <td>@inv.Balance @inv.Currency</td>
                <td>@Html.DisplayFor(m => @inv.InvoiceDate)</td>
            </tr>
        }
    </table>
}